.root {
  @apply text-white px-4 py-2 rounded-md min-w-[64px] transition-colors duration-200;

  &:hover {
    text-decoration: none;
    background-color: rgba(255, 100, 128, 0.8); // primaryChannel

    @media (hover: none) {
      background-color: transparent;
    }

    &.variantText:not(.colorInherit) {
      background-color: rgba(255, 255, 128, 0.8); // mainChannel
    }

    &.variantOutlined:not(.colorInherit) {
      border: 1px solid rgba(255, 50, 50, 0.8);
      background-color: rgba(255, 255, 128, 0.8); // mainChannel
    }

    &.variantContained {
      box-shadow: #1a1a1a; // 4
      background-color: rgba(255, 255, 128, 0.8); // inheritContainedHoverBg

      @media (hover: none) {
        box-shadow: #1a1a1a; // 2
        background-color: #242424; // grey 300
      }

      &:not(.colorInherit) {
        background-color: rgba(30, 30, 30, 0.8); // dark

        @media (hover: none) {
          background-color: #242424; // main
        }
      }
    }
  }

  &:active {
    &.variantContained {
      box-shadow: #1a1a1a; // 8

    }
  }

  &.focusVisible {
    box-shadow: #1a1a1a; // 6
  }

  &.disabled {
    color: #242424; // disabled
    &.variantOutlined {
      border: 1px solid #811b1b; // disabledBackground
    }

    &.variantContained {
      color: #2d2d2d; // disabled
      box-shadow: #1a1a1a; // 0
      background-color: #242424; // disabledBackground
    }
  }

  &.variantText {
    padding: 6px 8px;

    &:not(.colorInherit) {
      color: #535bf2; // main
    }
  }

  &.colorInherit {
    color: inherit;
    border-color: currentColor;
  }

  &.sizeSmall {
    &.variantText {
      padding: 4px 5px;
      font-size: 13rem;
    }

    &.variantOutlined {
      padding: 3px 9px;
      font-size: 13rem;
    }

    &.variantContained {
      padding: 4px 10px;
      font-size: 13rem;
    }
  }

  &.sizeLarge {
    &.variantText {
      padding: 8px 11px;
      font-size: 15rem;
    }

    &.variantOutlined {
      padding: 7px 21px;
      font-size: 15rem;
    }

    &.variantContained {
      padding: 8px 22px;
      font-size: 15rem;
    }
  }

  &.fullWidth {
    width: 100%;
  }

  &.disableElevation {
    box-shadow: none;

    &:hover,
    &:active,
    &.focusVisible,
    &.disabled{
      box-shadow: none;
    }
  }
}

.startIcon, .endIcon {
  display: inherit;

  &.iconSizeSmall {
    & > *:nth-of-type(1) {
      font-size: 18px;
    }
  }

  &.iconSizeMedium {
    & > *:nth-of-type(1) {
      font-size: 20px;
    }
  }

  &.iconSizeLarge {
    & > *:nth-of-type(1) {
      font-size: 22px;
    }
  }
}

.startIcon {
  margin-right: 8px;
  margin-left: -4px;

  &.iconSizeSmall {
    margin-left: -2px;
  }
}

.endIcon {
  margin-right: -4px;
  margin-left: 8px;

  &.iconSizeSmall {
    margin-right: -2px;
  }
}

.contained {
  @apply text-white bg-purple-200 shadow-md;

  &:not(.colorInherit) {
    @apply text-amber-300 bg-purple-500; // contrast text and main bg.
  }
}

.text {
  @apply px-5 py-2; // 6px 8px

  &:not(.colorInherit) {
    @apply text-purple-500;
  }
}

.outlined {
  @apply px-5 py-2 border-s-current; // 5px 15px

  &:not(.colorInherit) {
    @apply text-purple-500 border-purple-500;
  }
}

.disabled {
  &:not(.colorInherit) {
    @apply text-gray-700 bg-gray-900;
  }
}

.focus {
  @apply bg-emerald-500;
}

