.root {
    @apply px-[16px] py-[6px] rounded-md min-w-[64px] transition-colors duration-200;

    &:hover {
        @apply no-underline;
    }
}

.color-inherit {
    color: inherit;
    border-color: currentColor;
}

.prepend-icon,
.append-icon {
    @apply [display:inherit];

    &__small {
        & > *:nth-of-type(1) {
            @apply text-lg; // 18px
        }
    }

    &__medium {
        & > *:nth-of-type(1) {
            @apply text-xl; // 20px
        }
    }

    &__large {
        & > *:nth-of-type(1) {
            @apply text-2xl; // 24px
        }
    }
}

.prepend-icon {
    @apply mr-2 ml-[-4px]; // 8px -4px

    &__small {
        @apply ml-[-2px];
    }
}

.append-icon {
    @apply mr-[-4px] ml-2; // -4px 8px

    &__small {
        @apply mr-[-2px];
    }
}

.solid {
    @apply shadow-md;

    //&:not(.color-inherit) {
    //    @apply text-amber-300 bg-purple-500; // contrast text and main bg.
    //}

    &:hover {
        box-shadow: #1a1a1a; // 4
        background-color: rgba(255, 255, 128, 0.8); // inheritContainedHoverBg

        @media (hover: none) {
            box-shadow: #1a1a1a; // 2
            background-color: #242424; // grey 300
        }

        &:not(.colorInherit) {
            background-color: rgba(30, 30, 30, 0.8); // dark

            @media (hover: none) {
                background-color: #242424; // main
            }
        }
    }

    &:active {
        @apply drop-shadow-xl; // 8
    }

    &__small {
        @apply py-[4px] px-[10px] text-sm;
    }

    &__large {
        @apply py-[8px] px-[22px] text-lg;
    }

    &__primary {
        @apply bg-primary-500;
    }

    &__secondary {
        @apply bg-secondary-500;
    }

    &__success {
        @apply bg-success-500;
    }

    &__danger {
        @apply bg-danger-500;
    }

    &__warning {
        @apply bg-warning-500;
    }

    &__info {
        @apply bg-info-500;
    }
}

.outlined {
    @apply py-[5px] px-[15px] border border-current;

    &:hover {
        @apply bg-opacity-10;
    }

    &__small {
        @apply py-[3px] px-[9px] text-sm;
    }

    &__large {
        @apply py-[7px] px-[21px] text-lg;
    }

    &__primary {
        @apply bg-primary-500 bg-opacity-0 text-primary-500;
    }

    &__secondary {
        @apply bg-secondary-500 bg-opacity-0 text-secondary-500;
    }

    &__success {
        @apply bg-success-500 bg-opacity-0 text-success-500;
    }

    &__danger {
        @apply bg-danger-500 bg-opacity-0 text-danger-500;
    }

    &__warning {
        @apply bg-warning-500 bg-opacity-0 text-warning-500;
    }

    &__info {
        @apply bg-info-500 bg-opacity-0 text-info-500;
    }

    &__inherit {
        @apply [text:inherit] border-current;
    }
}

.plain {
    @apply bg-transparent;

    //&:not(.color-inherit) {
    //    @apply dark:text-amber-500 text-purple-500; // main
    //}

    &:hover {
        &:not(.colorInherit) {
            background-color: rgba(255, 255, 128, 0.8); // mainChannel
        }
    }

    &__small {
        @apply py-[4px] px-[5px] text-sm;
    }

    &__large {
        @apply py-[8px] px-[11px] text-lg;
    }

    &__primary {
        @apply text-primary-500;
    }

    &__secondary {
        @apply text-secondary-500;
    }

    &__success {
        @apply text-success-500;
    }

    &__danger {
        @apply text-danger-500;
    }

    &__warning {
        @apply text-warning-500;
    }

    &__info {
        @apply text-info-500;
    }
}

.disabled {
    &:not(.color-inherit) {
        @apply text-gray-700 bg-gray-900;
    }

    &:hover {
        @apply text-gray-900;

        &.outlined {
            border: 1px solid #811b1b; // disabledBackground
        }

        &.contained {
            color: #2d2d2d; // disabled
            box-shadow: #1a1a1a; // 0
            background-color: #242424; // disabledBackground
        }
    }
}

.focus {
    @apply bg-emerald-500 drop-shadow-lg;
}

.block {
    @apply w-full;
}

.flat {
    @apply drop-shadow-none;

    &:hover,
    &:active,
    &.focus,
    &.disabled {
        @apply drop-shadow-none;
    }
}

.active {
    @apply bg-amber-500;
}
